usercache.json
whitelist.json
BuildData/
BuildData/*
BuildData/**/*
Bukkit/
Bukkit/*
Bukkit/**/*
CraftBukkit/
CraftBukkit/*
CraftBukkit/**/*
Spigot/
Spigot/*
Spigot/**/*
work/
work/*
work/**/*
*.log.txt
